<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='javascript/util.js')}}"> </script>
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
  <h3> {{data_subject}} </h3>
  <div class="right">
  <form>
    <input type='radio' name='reviews' value='author' checked> By Author <br>
    <input type='radio' name='reviews' value='date'> By Date <br><br>
  </form>
  <form name="myform" onSubmit="return handleSubmission()">
    <input type="text" id="inputName" name="authorName" placeholder="Add an author's name (first and last)"> <br>
    <input name="Submit"  type="submit" value="Add Author" >
  </form> <br>
  <button onClick="save()">Save Changes</button>
  <div id="authorList"></div>
  </div>
  {% block content %} {% endblock %}
  <a href="http://developer.nytimes.com">
  <img src="{{ url_for('static', filename='images/poweredby_nytimes_200b.png')}}"> </img>
</a>
</body>
