{% extends "base.html" %}

{% block content %}

<svg width="800" height="650" id="container"></svg>
<script>

// get the API key from flask
var nyt_api = {{ nyt_api_key | tojson}};

var svg = d3.select('#container'),
    w = +svg.attr("width"),
    h = +svg.attr("height");

var margin = {top: 25, right: 100, bottom: 50, left: 170};
var circleRadius = 12,
    width = w - margin.left - margin.right,
    height = h - margin.bottom - margin.top;

var focus = svg.append('g')
               .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

// set the ranges for the scales. xScale will be dynamically done
var yScale = d3.scaleBand().rangeRound([0, height]).padding(0.1),
    xScale,
    colorScale = d3.scaleLinear().range([0,1]);

var transitionTime = 700;

// listen for radio button change
d3.selectAll("input[name=reviews]").on("change", updateOnChange)

var parseTime = d3.timeParse("%Y-%m-%d")

function save() {
  var url = "/add";
  $.ajax({
    method: 'POST',
    url: url,
    data: JSON.stringify(all_data),
    contentType: "application/json; charset=utf-8"
  }).done(function(result) {
    disableSave();
    d3.select(".save-message")
      .text("saved!");
    setTimeout(function() {
      d3.select(".save-message")
        .text("");
    }, 3000)
  }).fail(function(err) {
    throw err;
  });
}

function updateOnChange() {
  graphType = this.value;
  bindXScale(graphType);
  drawDataPoints(graphType, flattenedData);
}

function bindXScale(type) {
  if (type == 'author') {
    xScale = d3.scaleLinear().range([0, circleRadius * all_data.length * 1.2]);
    xScale.domain([0, d3.max(all_data.map(function(d) { return d.nyt.length }))]);
  } else {
    xScale = d3.scaleTime().range([circleRadius*2, width]);
    xScale.domain(d3.extent(flattenedData, function(d) { return parseTime(d.publication_dt); }))
  }
  focus.select('.axis--x').transition().duration(transitionTime).call(d3.axisBottom(xScale));
}

function bindYScale() {
  yScale.domain(all_data.map(function(d) { return d.name; }))
  focus.select('.axis--y').transition().duration(transitionTime).call(d3.axisLeft(yScale));
  focus.selectAll('.axis--y .tick')
       .on('click', deleteAuthor)
       .on('mouseover', addX)
       .on('mouseout', removeX);
}

function deleteAuthor(d) {
  var index = getIndexFromName(d, all_data);
  if (index > -1) {
    var removed = all_data.splice(index, 1);
    prepareData();
    updateGraph();
    enableSave();
  }
}
/*******************
MAIN FUNCTIONALITY
*******************/
// get the graph type from the radio buttons
var graphType = d3.select('input[name="reviews"]:checked').node().value;
// grab the data from flask
var all_data = {{ data | tojson}};
var flattenedData;

// create the x and y axis
focus.append('g')
     .attr('class', 'axis axis--x')
     .attr('transform', 'translate(0,' + (height) +')')
focus.append('g')
     .attr('class', 'axis axis--y')

// prepare the data and draw the graph
prepareData();
updateGraph();

/**********************
END MAIN FUNCTIONALITY
**********************/

function addX(d) {
  var tick = d3.select(this);
  var tickText = tick.select('text');
  var y = tickText.attr('dy');
  var bbox = tickText.node().getBBox();

  tick.append('text')
      .attr('x', bbox.x - 3)
      .attr('dy', y)
      .attr('fill', 'red')
      .attr('class', 'remove-icon')
      .text('x');
}

function removeX(d) {
  d3.selectAll('.remove-icon').remove();
}

function prepareData() {
  all_data = alphabetize(all_data);
  flattenedData = removeDuplicates(flattenData(all_data));
}

function updateGraph() {
  colorScale.domain([0, all_data.length]);
  bindYScale();
  bindXScale(graphType);
  drawDataPoints(graphType, flattenedData);
}

function drawDataPoints(type, data) {
  drawPoints(flattenedData);
  if (type == 'author') {
    drawAuthorPoints(data);
  } else {
    drawDatePoints(data);
  }
}

function drawDatePoints(data) {
  focus.selectAll('.data-point')
       .data(data, function(d) { return d.url; })
       .transition()
       .duration(transitionTime)
       .attr('cx', function(d) { return xScale(parseTime(d.publication_dt)); })
       .attr('cy', function(d) { return yScale(d['book_author']) + yScale.bandwidth()/2; });
}

function drawAuthorPoints(data) {
  focus.selectAll('.data-point')
       .data(data, function(d) { return d.url;})
       .transition()
       .duration(transitionTime)
       .attr('cx', function(d) {
         // offset for indexing by zero-- none of these are 'zero' reviews
         return xScale(d['review_num'] + 1);
       })
       .attr('cy', function(d) {
         return (yScale(d['book_author']) + yScale.bandwidth()/2);
       })
}

function drawPoints(data) {
  var points = focus.selectAll('a')
                    .data(data, function(d) { return d.url;})
  points.enter()
        .append('a')
        .attr('xlink:target', '_blank')
        .attr('xlink:href', function(d) { return d.url; })
        .attr('class', 'point')
        .append('circle')
        .attr('class', 'data-point')
        .attr('fill', function(d) {
          return d3.interpolateSpectral(colorScale(d['author_num']));
        })
        .attr('r', circleRadius)
        .on('mouseover', handleMouseOver)
        .on('mouseout', handleMouseOut);

  // this line makes the circle fade out
  points.exit().selectAll('circle').transition().duration(transitionTime).attr('fill', 'white');
  // this line removes the <a> tag wrapping
  points.exit().transition().duration(transitionTime).remove();
}

function handleMouseOver(d, i) {
  var textHeight = 15;
  d3.select(this).attr('r', circleRadius * 1.5);
  var x = d3.select(this).attr('cx');
  var y = d3.select(this).attr('cy');

  var group = focus.append('g')
                   .attr('id', 'hover-box');

  var text;
  if (graphType == 'author') {
    text = "Review by: " + d.byline;
  } else {
    text = "Author: " + d.book_author.toUpperCase();
  }

  group.append('text')
       .attr('x', x)
       .attr('y', y - circleRadius*1.5 - textHeight)
       .attr('text-anchor','middle')
       .attr('class', 'book-title')
       .text(d.book_title);

  group.append('text')
       .attr('x', x)
       .attr('y', y - circleRadius*1.5)
       .attr('text-anchor','middle')
       .attr('font-size', '10px')
       .text(text);

  // get the bbox so we can place a background that makes text easier to see
  var bbox = group.node().getBBox();
  var bboxPadding = 5;

  // place the background
  var rect = group.insert('rect', ':first-child')
                  .attr('x', bbox.x - bboxPadding/2)
                  .attr('y', bbox.y - bboxPadding/2)
                  .attr('width', bbox.width + bboxPadding)
                  .attr('height', bbox.height + bboxPadding)
                  .attr('rx', 10)
                  .attr('ry', 10)
                  .attr('class', 'label-background');
}

function handleMouseOut(d) {
  d3.select(this).attr('r', circleRadius);
  d3.select('#hover-box').remove();
}

function handleSubmission(d) {
  var submittedName = d3.select('#inputName').node().value;
  nytAPICall(submittedName, nyt_api);
  return false;
}

function enableSave() {
  d3.select('#save-button').attr('disabled', null);
}

function disableSave() {
  d3.select('#save-button').attr('disabled', true);
}

function nytAPICall(name, api_key) {
  var url = 'https://api.nytimes.com/svc/books/v3/reviews.json';
  url += '?' + $.param({
    'api-key': api_key,
    'author': name
  });
  $.ajax({
    url: url,
    method: 'GET',
  }).done(function(result) {
    var newEntry = {'name': toTitleCase(name), 'nyt': result.results};
    all_data.push(newEntry);
    prepareData();
    updateGraph();
    enableSave();
    return result;
  }).fail(function(err) {
    throw err;
  });
}

</script>
{% endblock %}
