<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<style>

.label-background {
  fill: white;
  fill-opacity: .5;
}

.axis {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.book-title {
  font-weight: bold;
}

body {
  font-family: Helvetica;
}

</style>

<body>
<h3>Asian American Literature</h3>
<form >
  <input type='radio' name='reviews' value='author' checked> By Author <br>
  <input type='radio' name='reviews' value='date'> By Date <br><br>
</form>
<form name="myform" onSubmit="return handleSubmission()">
  <input type="text" id="inputName" placeholder="Add an author's name (first and last)">
  <input name="Submit"  type="submit" value="Add Author" >
</form>

<svg width="1000" height="500" id="container"></svg>
<script>

// get the API key
var nyt_api = {{ nyt_api_key | tojson}};

var svg = d3.select('#container'),
    w = +svg.attr("width"),
    h = +svg.attr("height");

var margin = {top: 50, right: 200, bottom: 150, left: 200};
var xAxisSpace = 60,
    xAxisPadding = 20,
    circleRadius = 12,
    width = w - margin.right,
    height = h - margin.bottom;

var focus = svg.append('g')
               .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

// set the ranges for the scales. xScale will be dynamically done
var xScale,
    yScale = d3.scaleLinear().range([height - xAxisSpace, 0]),
    yScale2,
    colorScale = d3.scaleLinear().range([0,1]);

// listen for radio button change
d3.selectAll("input[name=reviews]").on("change", updateOnChange)

var parseTime = d3.timeParse("%Y-%m-%d")

function updateOnChange() {
  graphType = this.value;
  bindXScale(graphType);
  drawDataPoints(graphType, flattenedData);
}

function bindXScale(type) {
  if (type == 'author') {
    xScale = d3.scaleBand().rangeRound([0, width]).padding(0.1);
    xScale.domain(all_data.map(function(d) { return d.name; }))
  } else {
    xScale = d3.scaleTime().range([0,width]);
    xScale.domain(d3.extent(flattenedData, function(d) { return parseTime(d.publication_dt); }))
  }

  updateXAxis();
}

function bindYScale(type) {
  if (type == 'author') {
    yScale2 = d3.scaleBand().rangeRound([0, width]).padding(0.1);
    yScale2.domain(all_data.map(function(d) { return d.name; }))
  } else {
    yScale2 = d3.scaleTime().range([0,width]);
    yScale2.domain(d3.extent(flattenedData, function(d) { return parseTime(d.publication_dt); }))
  }
  focus.select('.axis--y').call(d3.axisLeft(yScale2));
}
/*******************
MAIN FUNCTIONALITY
*******************/
// grab the data from flask
var all_data = {{ data | tojson}};
var graphType = d3.select('input[name="reviews"]:checked').node().value;
var flattenedData = removeDuplicates(flattenData(all_data));
// set the domain
updateYAndColorScale(all_data);

// append the x axis class
focus.append('g')
     .attr('class', 'axis axis--x')
     .attr('transform', 'translate(0,' + (height - xAxisSpace) +')')

focus.append('g')
     .attr('class', 'axis axis--y')

bindXScale(graphType);
bindYScale(graphType);
drawDataPoints(graphType, flattenedData);
/**********************
END MAIN FUNCTIONALITY
**********************/

function updateYAndColorScale(data) {
  yScale.domain([0, d3.max(data.map(function(d) { return d.nyt.length }))]);
  colorScale.domain([0, data.length])
}

function drawDataPoints(type, data) {
  drawPoints(flattenedData);
  if (type == 'author') {
    drawAuthorPoints(data);
  } else {
    drawDatePoints(data);
  }
}

function drawDatePoints(data) {
  focus.selectAll('.data-point')
       .data(data, function(d) { return d.url; })
       .transition()
       .duration(1000)
       .attr('cx', function(d) { return xScale(parseTime(d.publication_dt)); })
}

function drawAuthorPoints(data) {
  focus.selectAll('.data-point')
       .data(data, function(d) { return d.url;})
       .transition()
       .duration(1000)
       .attr('cx', function(d) { return (xScale(d['book_author']) + xScale.bandwidth()/2); })
       .attr('cy', function(d) {
         // offset for indexing by zero-- none of these are 'zero' reviews
         return yScale(d['review_num'] + 1);
       })
}

function drawPoints(data) {
  focus.selectAll('a')
          .data(data, function(d) { return d.url;})
          .enter()
          .append('a')
          .attr('xlink:target', '_blank')
          .attr('xlink:href', function(d) { return d.url; })
          .append('circle')
          .attr('class', 'data-point')
          .attr('fill', function(d) {
            return d3.interpolateSpectral(colorScale(d['author_num']));
          })
          .attr('r', circleRadius)
          .on('mouseover', handleMouseOver)
          .on('mouseout', handleMouseOut);
}

function handleMouseOver(d, i) {
  var textHeight = 15;
  d3.select(this).attr('r', circleRadius * 1.5);
  var x = d3.select(this).attr('cx');
  var y = d3.select(this).attr('cy');

  var group = focus.append('g')
                   .attr('id', 'hover-box');

  var text;
  if (graphType == 'author') {
    text = "Review by: " + d.byline;
  } else {
    text = "Author: " + d.book_author.toUpperCase();
  }

  group.append('text')
       .attr('x', x)
       .attr('y', y - circleRadius*1.5 - textHeight)
       .attr('text-anchor','middle')
       .attr('class', 'book-title')
       .text(d.book_title);

  group.append('text')
       .attr('x', x)
       .attr('y', y - circleRadius*1.5)
       .attr('text-anchor','middle')
       .attr('font-size', '10px')
       .text(text);

  // get the bbox so we can place a background that makes text easier to see
  var bbox = group.node().getBBox();
  var bboxPadding = 5;

  // place the background
  var rect = group.insert('rect', ':first-child')
                  .attr('x', bbox.x - bboxPadding/2)
                  .attr('y', bbox.y - bboxPadding/2)
                  .attr('width', bbox.width + bboxPadding)
                  .attr('height', bbox.height + bboxPadding)
                  .attr('rx', 10)
                  .attr('ry', 10)
                  .attr('class', 'label-background');
}

function handleMouseOut(d) {
  d3.select(this).attr('r', circleRadius);
  d3.select('#hover-box').remove();
}

function handleSubmission(d) {
  var submittedName = d3.select('#inputName').node().value;
  nytAPICall(submittedName, nyt_api);
  return false;
}

function flattenData(data) {
  var flattenedArray = [];
  data.forEach(function(datum, authorNum) {
    datum.nyt.forEach(function(d, reviewNum) {
      d['author_num'] = authorNum;
      d['review_num'] = reviewNum;
      flattenedArray.push(d);
    });
  });
  return flattenedArray;
}

function removeDuplicates(data) {
  var dict = {};
  var noDuplicates = [];
  // duplicates seem to occur when both http and https are available as URLs
  for (var i = 0; i < data.length; i++) {
    var urlSansProtocol = data[i].url.substring(data[i].url.indexOf("://") + 1);
    if (dict[urlSansProtocol] == undefined) {
      dict[urlSansProtocol] = data[i];
    } else {
      // prioritize https
      if (data[i].url.indexOf("https://") != -1) {
        var storedReview = dict[urlSansProtocol];
        dict[urlSansProtocol] = data[i];
        // have to keep review number consistent
        dict[urlSansProtocol]['review_num'] = storedReview['review_num'];
      }
    }
  }
  for (var key in dict) {
    noDuplicates.push(dict[key]);
  }
  return noDuplicates;
}

function updateXAxis(type) {
  focus.select('.axis--x').call(d3.axisBottom(xScale));

  focus.selectAll('.axis--x')
       .selectAll('text')
       .style('text-anchor', 'end')
       .attr('dx', '-.8em')
       .attr('dy', '.15em')
       .attr('transform', 'rotate(-65)');
}



function nytAPICall(name, api_key) {
  var url = 'https://api.nytimes.com/svc/books/v3/reviews.json';
  url += '?' + $.param({
    'api-key': api_key,
    'author': name
  });
  $.ajax({
    url: url,
    method: 'GET',
  }).done(function(result) {
    var newEntry = {'name': toTitleCase(name), 'nyt': result.results};
    all_data.push(newEntry);
    all_data = alphabetize(all_data);
    updateYAndColorScale(all_data);
    flattenedData = removeDuplicates(flattenData(all_data));
    bindXScale(graphType);
    drawPoints(flattenedData);
    drawDataPoints(graphType, flattenedData);
    return result;
  }).fail(function(err) {
    throw err;
  });
}

function alphabetize(data) {
  data.sort(function(a, b) {
    var splitA = a.name.split(" ");
    var splitB = b.name.split(" ");
    if(splitA[splitA.length-1] < splitB[splitB.length-1]) return -1;
    if(splitA[splitA.length-1] > splitB[splitB.length-1]) return 1;
    return 0;
  })
  return data;
}

function toTitleCase(str)
{
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
}


</script>
</body>
